<a href="https://colab.research.google.com/github/Veebug/IP-week-4-prep-Victoria-Ondieki/blob/main/IP_week_4_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [ ]:
import pandas as pd

with open('cleandata','r') as f:
    cleandata = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS cleandata;
%sql PERSIST cleandata;
%sql SELECT * FROM cleandata LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, '2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', 'paris-suffren-2', 'STATION', '48.857, 2.2917', 75015, 'Paris/Suffren/2', 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43),
 (1, '145 Rue Raymond Losserand', 6, 6, 0, 0, 0, 'operational', 'Paris', 'paris-raymondlosserand-145', 'STATION', '48.83126, 2.313088', 75014, 'Paris/Raymond Losserand/145', 'operational', 0, 'station', 'ok', 'nonexistent', 2018, 4, 6, 7, 24),
 (2, '2 Avenue John Fitzgerald Kennedy', 3, 3, 0, 2, 0, 'operational', 'Le Bourget', 'lebourget-johnfitzgeraldkennedy-2', 'STATION', '48.938103, 2.4286035', 93350, 'Le Bourget/John Fitzgerald Kennedy/2', 'operational', 1, 'station', 'ok', 'nonexistent', 2018, 4, 3, 20, 14),
 (3, '51 Rue EugÃ¨ne OudinÃ©', 3, 3, 1, 0, 1, 'operational', 'Paris', 'paris-eugeneoudine-51', 'STATION', '48.8250327, 2.3725162', 75013, 'Paris/EugÃ¨ne OudinÃ©/51', 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 4, 4, 37),
 (4, '6 avenue de la Porte de Champerret', 3, 3, 0, 0, 0, 'nonexistent', 'Paris', 'paris-portedechamperret-6', 'PARKING', '48.8862632, 2.2874511', 75017, 'Paris/Porte de Champerret/6', 'operational', 3, 'station', 'ok', 'nonexistent', 2018, 4, 8, 17, 23)]

In [ ]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018? hour 21
%%sql
select City, hour, count(hour) from cleandata
where city='Paris' and month =4 and year =2018 and slots<7
group by hour
order by count(hour) desc
limit 1

 * sqlite://
Done.

[('Paris', 21, 147)]

In [ ]:
#What is the most popular hour for returning cars? hour 16

%%sql
select hour, count(hour) from cleandata
where slots>0 group by hour
order by count(hour) desc
limit 1

 * sqlite://
Done.

[(16, 152)]

In [ ]:
#What station is the most popular?Overall? answer=station
%%sql
select "Station type", count("Station type") from cleandata
group by "Station type" 
order by count("Station type") desc
limit 1

 * sqlite://
Done.

[('station', 4615)]

In [ ]:
#What station is the most popular? At the most popular picking hour?
%%sql
select "Station type", count("Station type") from cleandata
where "hour"=21
group by "Station type" 
order by count("Station type") desc

 * sqlite://
Done.

[('station', 220), ('full_station', 17)]

In [ ]:
#What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code? overall
%%sql
select "Postal code", count("Postal code") from cleandata
where "Bluecar counter">0 and Slots<7
group by "Postal code" 
order by count("Postal code") desc
limit 1

 * sqlite://
Done.

[(75015, 195)]

In [ ]:
#What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code? At the most popular picking hour?
%%sql
select "Postal code", count("Postal code") from cleandata
where "Bluecar counter">0 and Slots<7 and "hour"=21
group by "Postal code" 
order by count("Postal code") desc
limit 2

 * sqlite://
Done.

[(75014, 12), (75019, 12)]

In [ ]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 
#utilib
%%sql
select "Postal code", count("Postal code") from cleandata
where "Utilib counter"> 0 AND Slots< 7 AND "hour" =21
group by "Postal code" 
limit 1

 * sqlite://
Done.

[(75007, 1)]

In [ ]:
#utilib again
#not the same
%%sql
select "Postal code", count("Postal code") from cleandata
where "Utilib counter"> 0 AND Slots< 7
group by "Postal code" 
order by count("Postal code") desc limit 3

 * sqlite://
Done.

[(75016, 20), (75017, 20), (75015, 17)]

In [ ]:
#utlib 1.4
%%sql
select "Postal code", count("Postal code") from cleandata
where "Utilib 1.4 counter"> 0 AND Slots< 7
group by "Postal code" 
order by count("Postal code") desc limit 3

 * sqlite://
Done.

[(75017, 36), (75015, 29), (75019, 29)]

In [ ]:
#utilib 1.4 
#postal codes are the same but the numbre of times postal code is used to pick a car is less
%%sql
select "Postal code", count("Postal code") from cleandata
where "Utilib 1.4 counter"> 0 AND Slots< 7 AND "hour" =21
group by "Postal code" 
order by count("Postal code") desc limit 2

 * sqlite://
Done.

[(75014, 5), (75012, 3)]